main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.promo {
  position: relative;
  background: linear-gradient(180deg, #428a60 0%, #35734f 100%);
  z-index: -1;

  &__image {
    position: relative;
    width: 600px;
    height: 600px;
    margin-top: auto;
    z-index: 1;
    img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 30%;
      border-radius: 50%;
      background: #428a60;
      z-index: -1;
    }
  }
}
